// Typo
html {
  color: $black;
}

h2 {
  font-size: rem(21);
  margin-bottom: rem(16)
}

h3 {
  font-size: rem(16);
  margin-bottom: rem(4);
  font-weight: bold;
}

.description {
  font-size: rem(14);
  color: #7B7B7B;
}

.placeholder {
  font-size: rem(10);
  color: #BDBDBD;
  padding-left: rem(20);
  padding-top: rem(8);
}

.title-card {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.7px;
}

.subtitle-card {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-transform: lowercase;
  color: $grey;
}
